h1 {
}

.container {
    margin: 1% 5%;
    padding: 5px;
    background-color: lightgray;
}

.navbar {
    padding: 10px;
    background-color: navy;
}

.navbar a {
    margin: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.navbar a:hover {
    color: gold;
}

.navbar a:active {
    color: white;
}
